.person {
  background-color: brown;
  border-radius: 4px;
  position: relative;
  padding: 15px !important;
  height: 60px;
  margin-top: 20px;
  transition: all 10s;
  color: #fff;
  text-align: center;
  font-weight: 200px;
  bottom: 80px;
}
